<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Browse games page</title>
    <link rel="stylesheet" href="css/layout.css">
</head>
<body>
    <div id="navBar">
        <img id="gameIcon" src="static/css/layout.css">
        <h2>Game Listing</h2>
        <h4>Home</h4>
        <h4>All games</h4>
        
        <h6 id="navAuthorName">©️Tong Chen</h6>
    </div>
    <div id="content">
        <div id="header">
            <h1>CS235 Game Library</h1>
            <h6 id="contentAuthorName">©️Tong Chen</h6>
        </div>
        <div id ="genreBar">
            <h4 class="genre">Action</h4>
            <h4 class="genre">Sports</h4>
            <h4 class="genre">Party game</h4>
            <h4 class="genre">Adventure game</h4>
        </div>
        <div id="about">
            <p class="gameName">Super Mario Odyssey</p>
            <img src="/Users/tong/Downloads/235/lab/lab3/img/game1.webp">
            <p class="gameName">Animal Crossing</p>
            <img src="/Users/tong/Downloads/235/lab/lab3/img/game2.jpeg">
            <p class="gameName">League of Legends</p>
            <img src="/Users/tong/Downloads/235/lab/lab3/img/game3.jpeg">
        </div>
    </div>
   
    
    
</body>
</html>