<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Game Description page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}">
</head>
<body>
{% include 'navbar.html' %}
<div id="content">
    <div id="header">
        <h1>CS235 Game Library</h1>
        <h6 id="contentAuthorName">©️Tong Chen</h6>
    </div>
    <div id="about">
        <h2 id="gameTitle">{{ game.title }}</h2>
        <img src={{ game.image_url }}><br>
        <h3 class="gameDescriptionTitle"><em>RELEASE DATE:</em></h3>
        <p class="gameDescriptionContent">{{ game.release_date }}</p><br><br>
        <h3 class="gameDescriptionTitle"><em>PRICE:</em></h3>
        <p class="gameDescriptionContent">{{ game.price }}</p><br><br>
        <h3 class="gameDescriptionTitle"><em>PUBLISHER:</em></h3>
        <p class="gameDescriptionContent">{{ game.publisher.publisher_name }}</p><br><br>
        <h3 class="gameDescriptionTitle"><em>GENRE:</em></h3>
        <p class="gameDescriptionContent">
            {% for genre in game.genres %}
                {{ genre.genre_name }}{% if not loop.last %}, {% endif %}
            {% endfor %}
        </p><br><br>
        <div id="screenshots">
            <h3>Screenshots:</h3>
            {% for screenshot in game.screenshots %}
                <img src="{{ screenshot }}" alt="Screenshot" width="300">
            {% endfor %}
        </div>

        <h3 class="gameDescriptionTitle"><em>ABOUT:</em></h3>
        <p class="gameDescriptionContent">{{ game.description }}</p><br><br>
    </div>
</div>

</body>
</html>