<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Game Description page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}">
</head>
<body>
{% include 'navbar.html' %}
<div id="content">
    <div class="wishlistButton">
        <a class="wishlistButtonA" href="{{ url_for('wishlist.add', game_title=game.title) }}">Add to Wishlist</a><br>
    </div>
    <div class="wishlistButton">
        <a class="wishlistButtonA" href="{{ url_for('wishlist.remove', game_title=game.title) }}">Remove from
            Wishlist</a>
    </div>

    <div id="about">
        <h2 id="gameTitle">{{ game.title }}</h2>
        <div id="gameImageContainer">
            <img src="{{ game.image_url }}">
        </div>
        <div id="screenshots">
            <h3>Screenshots:</h3>
            {% for screenshot in game.screenshots %}
            <img src="{{ screenshot }}" alt="Screenshot" width="300">
            {% endfor %}
        </div>
        <h3 class="gameDescriptionTitle"><em>RELEASE DATE:</em></h3>
        <p class="gameDescriptionContent">{{ game.release_date }}</p><br><br>
        <h3 class="gameDescriptionTitle"><em>PRICE:</em></h3>
        <p class="gameDescriptionContent">{{ game.price }}</p><br><br>
        <h3 class="gameDescriptionTitle"><em>PUBLISHER:</em></h3>
        <p class="gameDescriptionContent">{{ game.publisher.publisher_name }}</p><br><br>
        <h3 class="gameDescriptionTitle"><em>GENRE:</em></h3>
        <p class="gameDescriptionContent">
            {% for genre in game.genres %}
            {{ genre.genre_name }}{% if not loop.last %}, {% endif %}
            {% endfor %}
        </p><br><br>
        <h3 class="gameDescriptionTitle"><em>ABOUT:</em></h3>
        <p class="gameDescriptionContent">{{ game.description }}</p><br><br>
    </div>

    {% if session['username'] %}
    <div id="commentArea">
        <div id="leaveComment">
            <h1 id="submitH1">Submit a Review:</h1>
            <form method="post">
                {{ form.hidden_tag() }}
                {{ form.rating.label }}<br>
                {{ form.rating() }}<br>
                {{ form.review_text.label }}<br>
                {{ form.review_text() }}<br>
                {{ form.submit() }}
            </form>
        </div>


        {% endif %}
        <div id="displayReview">
            <h1>Average Rating: {{ game.average_rating() }}</h1>
            {% for review in game.reviews %}
            <div id="reviewGap">
                <h2 id="reviewH2"><strong>{{ review.user.username }}</strong></h2>
                <h4 id="reviewH4">(️️️️️️⭐️️️Rating: {{ review.rating }})</h4>
                <div id="baseline2"></div>
                <h4 id="reviewContent">{{ review.comment }}</h4>
            </div>
            {% endfor %}
        </div>
    </div>

</div>

</body>
</html>