<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Homepage</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}" >
</head>
<body> 
{% include 'navbar.html' %}
    <div id="content">
        <div id="header">
            <h1>CS235 Game Library</h1>
            <h6 id="contentAuthorName">©️Paul/Kevin/Tong</h6>
        </div>
        <div id="about">
            <p>CS235 Game Library is a game digital distribution service and storefront from Valve. It was launched as a software client in 2023 to provide game updates automatically for Valve's games. CS235 Game Library offers various features, like digital rights management (DRM), game server matchmaking with Valve Anti-Cheat measures, social networking. CS235 Game Library client's functions include game update automation, cloud storage for game progress, and community features such as direct messaging, in-game overlay functions and a virtual collectable marketplace.
                </p>
             <p>Author by Paul, Kevin, Tong.</p>
        </div>
    </div>
    
</body>
</html>