<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Homepage</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}">
</head>
<body>
{% include 'navbar.html' %}
<div id="loginFrame">
    <div id="loginContent">
        {% block content %}
        <h1 class="loginTitle">Login</h1>
        <form class="loginInput" method="post">
            {{ form.hidden_tag() }}
            <div>
                {{ form.username.label }}<br>
                {{ form.username() }}
                {% if username_error_message %}
                    <p class="error">{{ username_error_message }}</p>
                {% endif %}
            </div>
            <div>
                {{ form.password.label }}<br>
                {{ form.password() }}
                {% if password_error_message %}
                    <p class="error">{{ password_error_message }}</p>
                {% endif %}
            </div>
            <div>
                {{ form.submit() }}
            </div>
        </form>
        {% endblock %}
    </div>
    <div id="timo">
        <img src="static/img/login.png">
    </div>
</div>

</body>
</html>
