<div>
    <div id="navBar">
        <h1 class="navTitle">235GAME</h1>
        <h2 class="navTitle"><a href="/" target="_blank">Home</a></h2>
        <h2 class="navTitle"><a href="games" target="_blank">All Games</a></h2>
        <h2 class="navTitle"><a href="user_profile" target="_blank">User Profile</h2>
        <div id="login">
            {% include 'loginstatus.html' %}
        </div>

    </div>

    <div id="nav2">
        <form action="/search" method="get">
            <select name="publisher" class="selectBar">
                <option value="">All Publishers</option>
                {% for publisher in all_publishers %}
                <option value="{{ publisher }}">{{ publisher }}</option>
                {% endfor %}
            </select>
            <select name="genre" class="selectBar">
                <option value="">All Genres</option>
                {% for genre in all_genres %}
                <option value="{{ genre }}">{{ genre }}</option>
                {% endfor %}
            </select>
            <input id="searchBar1" type="text" name="query" placeholder="Enter game name">
            <button id="searchBar2" type="submit">Search</button>
        </form>
            <div id = "message">
                    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        <div id="flash-messages">
            {% for category, message in messages %}
            <div id="msg" class="alert alert-{{ category }}">
                {{ message }}
            </div>
            {% endfor %}
        </div>
        {% endif %}
        {% endwith %}
        </div>
    </div>
    <div id="footer">
        <h6>©️Paul/Kevin/Tong</h6>
    </div>
</div>